Source: rushx
Section: utils
Priority: optional
Maintainer: Haitam Bidiouane <h.bidiouane@gmail.com>
Uploaders: Kawtar Taik <kawtartaik123@gmail.com>
Build-Depends: debhelper-compat (= 13), cargo, rustc, pkg-config, libgtk-4-dev, dpkg-dev, devscripts, equivs, reprepro
Standards-Version: 4.6.2
Homepage: https://github.com/The-HaiKaw-Pr0tocol/RushX
Rules-Requires-Root: no

Package: rushx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: RushX is a POSIX-compliant UNIX terminal emulator & shell written in Rust. It focuses on all low-level aspects form process control, PTY management, up to job control.
